<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear />
    <add name="Master"
     providerName="System.Data.SqlClient"
     connectionString="Data Source=(localdb)\v11.0;Integrated Security=true" />
    <add name="Northwind"
     providerName="System.Data.SqlClient"
     connectionString="Data Source=(localdb)\v11.0;Integrated Security=true" />
  </connectionStrings>
</configuration>
