<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <clear/>
    <add name="Master" providerName="System.Data.ProviderName" connectionString="Initial Catalog=master;Encrypt=false"/>
    <add name="Northwind" providerName="System.Data.ProviderName" connectionString="Initial Catalog=DBPrefix_NorthwindRelinq;Encrypt=false"/>
  </connectionStrings>
  <appSettings>
    <add key="DataSource" value="localhost"/>
    <add key="DatabaseDirectory" value="C:\Databases"/>
    <add key="DatabaseNamePrefix" value=""/>
    <add key="IntegratedSecurity" value="true"/>
    <add key="Username" value=""/>
    <add key="Password" value=""/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
